---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
            <! -- Blog Post  -->
           <!--- <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            --><p><csmall>{{ page.date | date: " %Y %b %-d " }} | Írta: {{ page.author }}</csmall></p>
              
            {{ content }}

            <div class="spacing"></div>
            <h6>Megosztás</h6>
            <p class="share">
                <a href="http://tumblr.com/widgets/share/tool?canonicalUrl={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-tumblr"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}" target='_blank'><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com/share?text=Ez jó!&url={{ page.url | prepend: site.baseurl | prepend: site.url }}&hashtags=goldconsulting,adatrogzites,palyazat" target='_blank' "><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-google-plus"></i></a>		 		
            </p>
        </div><! --/col-lg-8 -->
        
        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->
